.project-card {
  width: 100%;
  z-index: -99;
  color: $color-white;
  padding: $spacer-large $spacer-medium;

  &--dark {
    background-image: linear-gradient(
      to top right,
      $color-black,
      $color-grey-dark
    );
  }
  &--body {
    width: 60%;
  }
  @include for-tablet-landscape-up {
    max-width: $container-width;
    margin-left: auto;
    margin-right: auto;
    padding: $spacer-large $spacer-huge;
    &:not(:last-child) {
      margin-bottom: $spacer-large;
    }
  }
}
