.project-card {
  width: 100%;
  z-index: -99;
  color: $color-white;
  padding: $spacer-large $spacer-huge;
  background-image: linear-gradient(
    to top right,
    $color-black,
    $color-grey-dark
  );

  @include for-tablet-landscape-up {
    width: $container-width;
    margin: 0 auto;
  }
  &--body {
    width: 60%;
  }
}
