.separator {
  width: 8rem;
  border: 0;
  height: 0.4rem;
  text-align: left;
  &--black {
    background-color: $color-black;
  }

  &--white {
    background-color: $color-white;
  }

  &--dark {
    background-color: $color-grey-dark;
  }
}
