.tag-group {
  &__tag {
    display: inline-block;
    font-family: 'Muli', sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 0.6rem 0.8rem;
    margin-top: 0.6rem;

    &--light {
      color: $color-grey-dark;
      background-color: $color-grey-light;
    }

    &--card {
      color: $color-white;
      background-color: rgba($color-black, 0.5);
    }
  }
}
