<% include ../partials/_header %>

  <section class="section section--hero">
    <div class="container">
      <div class="hero__body">
        <h1 class="hero__title">
          <span class="hero__title--main">Mehdi Vasigh</span>
          <span class="hero__title--sub">Full-stack web developer</span>
        </h1>
        <hr class="separator">
        <p class="hero__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentum semper tellus, vestibulum lobortis augue consectetur
          ut. Nam lobortis semper mauris, vel egestas risus euismod in. Suspendisse a venenatis neque. Fusce et magna faucibus,
          maximus est quis, tristique urna. Morbi facilisis ut arcu eu gravida. Phasellus viverra nunc diam, eu mattis tellus
          elementum eu.
        </p>
        <ul class="hero__links">
          <li>
            <a href="#" class="btn btn--hero">Github</a>
          </li>
          <li>
            <a href="#" class="btn btn--hero">Codepen</a>
          </li>
          <li>
            <a href="#" class="btn btn--hero">Email</a>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <h2 class="section__title">
        Skills and Knowledge
      </h2>
      <hr class="separator">
    </div>
  </section>
  <section class="section">
    <div class="container">
      <h2 class="section__title">
        Projects
      </h2>
      <hr class="separator">
    </div>
  </section>

  <% include ../partials/_footer %>