<% include ../partials/_header %>

  <section class="section section--hero">
    <div class="container">
      <div class="hero__body">
        <h1 class="hero__title">
          <span class="hero__title--main">Mehdi Vasigh</span>
          <span class="hero__title--sub">Full-stack web developer</span>
        </h1>
        <hr class="separator separator--black mt-sm mb-md">
        <p class="hero__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentum semper tellus, vestibulum lobortis augue consectetur
          ut. Nam lobortis semper mauris, vel egestas risus euismod in.
        </p>
        <ul class="hero__links">
          <li>
            <a href="#" class="btn btn--hero">Github</a>
          </li>
          <li>
            <a href="#" class="btn btn--hero">Codepen</a>
          </li>
          <li>
            <a href="#" class="btn btn--hero">Email</a>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <h2 class="section__title">
        Skills and Knowledge
      </h2>
      <hr class="separator separator--black mb-md mt-sm">
      <div class="float-row">
        <div class="col-2-of-3">
          <p class="mb-md">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur, totam illum! Delectus consequatur est, beatae, repellendus
            exercitationem quam enim autem omnis optio ipsa magnam soluta reprehenderit natus quidem, animi amet.
          </p>
          <h3 class="section__subtitle mb-sm">Comfortable With</h3>
          <div class="tag-group mb-md">
            <span class="tag-group__tag tag-group__tag--light">HTML5</span>
            <span class="tag-group__tag tag-group__tag--light">CSS3</span>
            <span class="tag-group__tag tag-group__tag--light">JavaScript (ES6+)</span>
            <span class="tag-group__tag tag-group__tag--light">Node.js</span>
            <span class="tag-group__tag tag-group__tag--light">Express</span>
            <span class="tag-group__tag tag-group__tag--light">NPM</span>
            <span class="tag-group__tag tag-group__tag--light">Git</span>
          </div>
          <h3 class="section__subtitle mb-sm">Working Knowledge</h3>
          <div class="tag-group">
            <span class="tag-group__tag tag-group__tag--light">React</span>
            <span class="tag-group__tag tag-group__tag--light">Vue</span>
            <span class="tag-group__tag tag-group__tag--light">Gulp</span>
            <span class="tag-group__tag tag-group__tag--light">Webpack</span>
          </div>
        </div>
        <div class="col-1-of-3">
          <div class="box">
            <h3 class="section__subtitle">Hello world</h3>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <h2 class="section__title">
        Projects
      </h2>
      <hr class="separator separator--black mb-lg mt-sm">
    </div>
    <div class="project-card project-card--dark mb-lg">
      <div class="project-card--body">
        <h2 class="project-card--title">Project Title</h2>
        <hr class="separator separator--white mt-sm mb-md">
        <p class="project-card--description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, eius? Non sit, reiciendis accusantium reprehenderit
          ut qui laboriosam deleniti est.</p>
        <div class="project-card--stack mb-sm">

        </div>
        <div class="project-card--buttons">
          <a href="#" class="btn btn--project mr-sm">View Code</a>
          <a href="#" class="btn btn--project">Live Demo</a>
        </div>
      </div>
    </div>
    <div class="project-card project-card--dfcguide mb-lg">
      <div class="project-card--body">
        <h2 class="project-card--title">DFC Guide</h2>
        <hr class="separator separator--white mt-sm mb-md">
        <p class="project-card--description mb-md">Searchable community resources database and guidebook for health care providers in the Houston area.</p>
        <div class="project-card--stack mb-sm">
          <h3 class="section__subtitle">Technologies used:</h3>
          <div class="tag-group">
            <span class="tag-group__tag tag-group__tag--card">Node.js</span>
            <span class="tag-group__tag tag-group__tag--card">Express</span>
            <span class="tag-group__tag tag-group__tag--card">MongoDB</span>
          </div>
        </div>
        <div class="project-card--buttons">
          <a href="#" class="btn btn--project mr-sm">View Code</a>
          <a href="#" class="btn btn--project">Live Demo</a>
        </div>
      </div>
    </div>
    <div class="project-card project-card--hoops mb-lg">
      <div class="project-card--body">
        <h2 class="project-card--title">Hoops Player Comparison</h2>
        <hr class="separator separator--white mt-sm mb-md">
        <p class="project-card--description mb-md">Searchable community resources database and guidebook for health care providers in the Houston area.</p>
        <div class="project-card--stack mb-sm">
          <h3 class="section__subtitle">Technologies used:</h3>
          <div class="tag-group">
            <span class="tag-group__tag tag-group__tag--card">JavaScript</span>
            <span class="tag-group__tag tag-group__tag--card">Bulma.io</span>
          </div>
        </div>
        <div class="project-card--buttons">
          <a href="#" class="btn btn--project mr-sm">View Code</a>
          <a href="#" class="btn btn--project">Live Demo</a>
        </div>
      </div>
    </div>
  </section>

  <% include ../partials/_footer %>