<% include ../partials/_header %>

  <section class="section section--hero">
    <div class="container">
      <div class="hero__body">
        <h1 class="hero__title">
          <span class="hero__title--main">Mehdi Vasigh</span>
          <span class="hero__title--sub">Full-stack web developer</span>
        </h1>
        <hr class="separator separator--black mt-sm mb-md">
        <p class="hero__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentum semper tellus, vestibulum lobortis augue consectetur
          ut. Nam lobortis semper mauris, vel egestas risus euismod in. Suspendisse a venenatis neque. Fusce et magna faucibus,
          maximus est quis, tristique urna.
        </p>
        <ul class="hero__links">
          <li>
            <a href="#" class="btn btn--hero">Github</a>
          </li>
          <li>
            <a href="#" class="btn btn--hero">Codepen</a>
          </li>
          <li>
            <a href="#" class="btn btn--hero">Email</a>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <h2 class="section__title">
        Skills and Knowledge
      </h2>
      <hr class="separator separator--black mb-md mt-sm">
      <div class="float-row">
        <div class="col-2-of-3">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure ex at deserunt, maiores nam iste commodi cupiditate, veritatis
          architecto soluta nulla debitis voluptatum quam placeat esse dicta! Aut, explicabo facilis.
        </div>
        <div class="col-1-of-3">
          <h3 class="section__subtitle mb-sm">Comfortable with</h3>
          <p class="mb-md">HTML, CSS, Javascript, Node.js</p>
          <h3 class="section__subtitle mb-sm">Working knowledge</h3>
          <p>React, Express, Sass, Vue</p>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <h2 class="section__title">
        Projects
      </h2>
      <hr class="separator separator--black mb-lg mt-sm">
      <div class="project-card mb-lg">
        <div class="project-card--body">
          <h2 class="project-card--title">Project Title</h2>
          <hr class="separator separator--white mt-sm mb-md">
          <p class="project-card--description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, eius? Non sit, reiciendis accusantium reprehenderit
            ut qui laboriosam deleniti est.</p>
          <div class="project-card--stack mb-sm">

          </div>
          <div class="project-card--buttons">
            <a href="#" class="btn btn--project mr-sm">View Code</a>
            <a href="#" class="btn btn--project">Live Demo</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <% include ../partials/_footer %>