<nav class="navbar navbar--hidden navbar--light">
  <div class="container">
    <div class="navbar__brand">Mehdi Vasigh</div>
    <ul class="navbar__menu">
      <li class="navbar__menu-item">
        <a href="#" class="btn btn--icon">
          <i class="fab fa-github"></i>
        </a>
      </li>
      <li class="navbar__menu-item">
        <a href="#" class="btn btn--icon">
          <i class="fab fa-codepen"></i>
        </a>
      </li>
      <li class="navbar__menu-item">
        <a href="#" class="btn btn--icon">
          <i class="fas fa-envelope"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>