<nav class="navbar navbar--hidden navbar--light">
  <div class="container">
    <div class="navbar__brand">Mehdi Vasigh</div>
    <ul class="navbar__menu">
      <% links.forEach(link => { %>
        <li class="navbar__menu-item">
          <a href="<%= link.url %>" class="btn btn--icon">
            <i class="<%= link.icon %>"></i>
          </a>
        </li>
      <% }) %>
    </ul>
  </div>
</nav>